<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    pwp/cache 構成セクションの追加
  -->
  <configSections>
    <sectionGroup name="msyics">
      <section name="cacheyi"
               type="MSyics.Cacheyi.Configuration.CacheyiConfigurationSection, MSyics.Cacheyi.NET, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>

  <msyics>
    <!--
      cache 要素
      ................................................................
      performanceCounters : パフォーマンスカウンターを使用するかどうかを一括設定する。（省略：false）
    -->
    <cacheyi>
      <centers>
        <!--
        center 要素
        ................................................................
        name                : 実装したセンター名を指定する。(名前空間を含む完全修飾名)
        performanceCounters : センターが持つストアのパフォーマンスカウンターを使用するかどうかを一括設定する（省略：false）
        -->
        <center name="Example.Cacheyi.NET.HogeCacheCenter">
          <stores>
            <!--
            store 要素
            ................................................................
            name                : 実装したプロパティ名を指定する。
            maxCapacity         : キャッシュできる最大容量を指定する。0 以下は無制限（省略：0）
            timeout             : キャッシュの保持期間を指定する。（省略：0:0:0）
            performanceCounters : パフォーマンスカウンターを使用するかどうか。（省略：false）
            -->
            <store name="Hoges" maxCapacity="10" timeout="0:1:0" />
            <store name="Piyos" maxCapacity="10" timeout="0:1:0" />
          </stores>
        </center>
        <center name="MSyics.Cacheyi2">
          <stores>
            <store name="HogeStore" maxCapacity="0"  />
          </stores>
        </center>
      </centers>
    </cacheyi>
  </msyics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>